@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=&display=swap');

:root {
     /* Variables */

    /* Projects Colors */
    --primary-color: #323232;
    --secondary-color: #000000;
    --contrast-color: #f5f1f0;
    --placeholder-color: #d9d9d9;
    --text-highlight-color: #616161;
    --overlay-label-color: rgba(255, 255, 255, 0.6);

    /* Border-radio */
    --large-radio-border: 10px;
    --small-radio-border: 5px;

    /* Box-shadow */
    --card-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    --card-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

    /* Font Familly */
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Montserrat', sans-serif;

    /* Font-Size */
    /* 1rem = 16px */

    /* 
        10px === 0.625rem
        14px === 0.875rem
        12px === .75rem
        16px === 1rem
        20px === 1.25rem
        24px === 1.5rem
        32px === 2rem
        36px === 2.25rem
    */
}

/* MOBILE FIRST === COMEÇAR PELO MOBILE*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--contrast-color);
}

*{
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
}

.container {
    padding-inline: 20px;
}

.header, .section__header, .footer {
    background: linear-gradient(90deg, #E62259 0%, #6C5BA3 100%);
    color: var(--contrast-color);
}

h1, h2, h3 {
    margin: 0;
}

a{
    text-decoration: none;
}

.subtitle {
    margin: 0;
    color: var(--primary-color);
    margin-top: 0;
}

.navbar {
    display: flex;
    height: 70px;
    padding: .25rem;
    justify-content: space-between; /* cada item de um lado */
    align-items: center;
    background-color: var(--primary-color);
}

/* ira aperecer no PC > 1° Mobile */
.navbar__menu, .navbar__icon {
    display: none;
}

.navbar__logo {
    font-size: 2rem;
    color: var(--contrast-color);
    text-decoration: none;
    margin-left: .25rem;
}

.navbar__burger {
    display: flex;
    width: fit-content; /* adptar ao tamanho do projeto */
    margin-right: .25rem;
}

.container{
    padding-inline: 20px;
    max-width: 1200px;
    margin-inline: auto;
}
.content{
    margin-block: 15px;
}

.last__post{
    margin-bottom: 15px;
}

/* Hack cortar para caber */

/* aumentar e diminuir da tela */
.card figure{
    margin: 0;
    position: relative;
    height: 8px;
    padding-bottom: 52%;
    overflow: hidden;
    border-radius: var(--large-radio-border);
}

.image_post{
    width: 924px;
    height: 924px;
    transform: translateY(-200px);
}

.imagem_past{
    border-radius: var(--large-radio-border);
    transform: translateY(-200px);
}

.card .card__image{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%); /* alterar a posição da imagem --> centralizado*/
}

.card__image_post{
    border-radius: var(--large-radio-border);
    box-shadow: var(--card-shadow);
    width: 924px;
    height: 924px;
}

.card-big .card__label{
    position: absolute;
    bottom: 0;
    padding: 1.25rem 5%;
    font-size: .875rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
    width: 90%;
    opacity: 0,4;
    transition: all .5s;
}

.title__general{
    display: flex;
    padding: auto;
}

.information{
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
}

.card-big .card__label:hover{
    opacity: 1;
}

.card-big .card__label h3{
    font-size: 1.5rem;
}

.section__header{
    border-radius: var(--small-radio-border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    height: 28px;
    margin-bottom: 15px;
}

.section__header h2{
    font-size: .875rem;
    color: var(--contrast-color);
}

.section__header a{
    font-size: .625rem;
    color: var(--contrast-color);
}

.section-header-link{
    justify-content: space-between;
}

.post__link{
    text-decoration: none;
}

.card-medium{
    box-shadow: var(--card-shadow);
    border-radius: var(--large-radio-border);
}

.card-medium .card__label{
    font-size: .875rem;
    padding: 12px 12px 40px 12px;
}

.card-medium .card__label h3{
    font-size: 1.25rem;
}

.card-medium .card__label p{
    margin-block: 10px; /* margem superior e inferior */
}

.card-medium .card__category{
    color: var(--primary-color);
}

.card-medium .card__author,
.card-medium time{
    color: var(--text-highlight-color);
}

.all__post-grid{
    display: grid;
    gap: 16px;
}

.popular__post,
.categories__post{
    display: none;
}

.footer,
.footer .container,
.footer span {
    height: 48px;
    font-weight: 600;
    color: var(--contrast-color);
}

.footer span{
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar__menu {
    list-style: none;
    align-items: center;
    height: 100%;
    padding: 0;
}

/* navbar__menu li */
.navbar__menu li { 
    display: flex;
    height: 75%;
    align-items: center;
    padding-inline: 10px;
    cursor: pointer;
    transition: all .5s;
}

.navbar-link{
    color: var(--contrast-color);
    text-decoration: none;
    font-weight: 600;
}

/* lado a lado */
.card-small{
    box-shadow: var(--card-shadow);
    background-color: var(--contrast-color);
    border-radius: var(--large-radio-border);
    display: flex;
    padding: 10px;
    gap: 10px;
}

.card-small figure{
    width: 115px;
    height: 54px;
    padding: 0;
}

.card-small h3{
    font-size: .875rem;
}

.card-small time{
    font-size: .75rem;
}

/* espaço entre card */
.popular__posts-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-small:last-child {
    display: none;
}

/* aparecer list-style com display flex */
.categories__list{
    list-style: ">";
    font-weight: 600;
}

.categories__list .list_item{
    display: flex;
    justify-content: space-between;
}

.categories__list .list_item label::before{
    content: "> ";
}

.navbar__search_bar {
    display: none;
    width: 320px;
    position: relative;
}

.search-bar-input {
    width: 100%;
    border-color: var(--placeholder-color);
    border: none;
    outline: none;
    padding-inline: 10px;
    height: 46px;
    border-radius: var(--large-radio-border) 0 0 var(--large-radio-border);
    color: var(--text-highlight-color);
}

.search-bar-input:focus {
    color: var(--secondary-color);
}

.search-bar-button {
    height: 48px;
    width: 40px;
    border-color: var(--placeholder-color);
    padding-inline: 10px;
    border-radius: 0 var(--large-radio-border) var(--large-radio-border) 0;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}

.new__post{
    margin-right: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.section__header {
    display: flex;
}

.navbar__close, .navbar-close-filho{
    display: none;
}

.lp,  .lp strong{
    color: var(--contrast-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: initial;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 75%);
  }
  
  :-webkit-scrollbar-thumb{
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: hsl(207, 4%, 55%);
    border-radius: .5rem;
  }

/* === BREAKPOINTS === */

/* TABLETE */
@media screen and (min-width: 768px) {
    .container{
        padding-inline: 40px;
    }
    .content{
        padding-block: 20px;
    }

    .last__post,
    .section__header{
        margin-bottom: 20px;
    }

    .section__header{
        border-radius: var(--large-radio-border);
        height: 48px;
        padding-inline: 22px;        
    }

    .navbar__logo{
        font-size: 2.25rem;
    }

    .card-big .card__label{
        font-size: 1rem;
    }

    .card-big .card__label h3 {
        font-size: 2rem;
    }

    .section__header h2{
        font-size: 1.25rem;
    }

    .section__header a{
        font-size: .875rem;
    }

    .all__post-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .mobile-menu{
        display: block;
    }

    .last__post{
        grid-area: lp;
    }

    .all__post{
        grid-area: ap;
    }

    .popular__post{
        grid-area: pp;
        display: block;
    }

    .categories__post{
        grid-area: cp;
        display: block;
        margin-top: 20px;
    }

    .content .container{
        display: grid;
        column-gap: 16px;
        grid-template-areas: 
            "lp pp"
            "ap cp";
    }

    .navbar__burger{
        display: none;
    }

    .navbar__menu{
        display: flex;
    }

    .content{
        padding-block: 26px;
    }

    .last__post,
    .section__header{
        margin-bottom: 24px;
    }

    /* not é função */
    .navbar__menu li.active,
    .navbar__menu li:hover:not(:last-child){
        background-color: var(--contrast-color);
        border-radius: var(--large-radio-border) var(--large-radio-border);
    }

    .navbar__menu li.active a,
    .navbar__menu li:hover a{
        color: var(--secondary-color);
    }

}

@media screen and (min-width: 1280px){    
    .content{
        padding-block: 50px;
    }
    
    .all__post-grid{
        gap: 24px;
    }

    .card-small:last-child{
        display: flex;
    }

    .card-small figure{
        width: 120px;
    }
}