@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    /* Cores */
    --primary-color: #323232;
    --secondary-color: #000000;
    --contrast-color: #f5f1f0;
    --placeholder-color: #d9d9d9;
    --text-highlight-color: #616161;
    --overlay-label-color: rgba(255, 255, 255, 0.6);
    --large-radio-border: 10px;
    --small-radio-border: 5px;
    --card-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Montserrat', sans-serif;
}

/* Estilos globais */
body {
    background-color: #FFFFFF;
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
}

.container {
    background-color: #f0f0f0;
}

.banner {
    display: flex;
    width: 100%;
}

.header-banner, .footer-copyright, .footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright{
    text-align: center;
    font-size: medium;
}

.header-banner {
    margin-bottom: -38px;
}

.card-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5%;
    margin-top: 15rem;
}

.card {
    flex-basis: calc(50% - 1rem);
    margin-bottom: 1rem;
}

.carousel-manda_trends {
    margin: 2rem 5%;
    width: 90%;
    max-width: 1200px;
    height: auto;
    max-height: 45rem;
}

.carousel_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-post figure {
    margin: 0;
    position: relative;
    height: 8px;
    padding-bottom: 52%;
    overflow: hidden;
    border-radius: var(--large-radio-border);
}

.card-post .card__image {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.card-big .card__label {
    position: absolute;
    bottom: 0;
    padding: 1.25rem 5%;
    font-size: 0.875rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 100%);
    width: 90%;
    opacity: 0.4;
    transition: all 0.5s;
}

.card-big .card__label:hover {
    opacity: 1;
}

.card-big .card__label h3 {
    font-size: 1.5rem;
}

.section-header-link {
    justify-content: space-between;
}

.subtitle {
    margin: 0;
    color: var(--primary-color);
    margin-top: 0;
}

.information {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-between;
}

.title__general {
    display: flex;
    padding: auto;
}

.criadora{
    display: flex;
    width: 100%;
}

/* Linhas */

.line_carousel{
    width: 30rem;
    height: 0.35rem;
    background: linear-gradient(90deg, #E62259 0%, #6C5BA3 100%);
}

.line_zapzap,
.line_nba{
    width: 20rem;
    height: 0.35rem;
    display: flex;
    align-items: center;
}

.line_nba{
    background: linear-gradient(90deg, #76C6CF 0%, #6760A6 100%);
}

.line_zapzap{
    background: linear-gradient(90deg, #75C7CF 0%, #38B38B 100%);
}

/* Responsividade */
@media screen and (min-width: 1400px) {
    .card-space {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1300px) {
    .carousel-manda_trends {
        width: 90%;
        max-width: 100%;
        height: auto;
        max-height: 90%;
        margin-right: 5%;
    }

    .card-space {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .carousel-manda_trends {
        width: 85%;
        max-width: 100%;
        height: auto;
        max-height: 85%;
        margin: 2rem auto;
    }

    .card-space {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2rem auto;
    }

    .card-big .card__label {
        font-size: 1rem;
    }

    .card-big .card__label h3 {
        font-size: 2rem;
    }

    .footer-copyright{
        font-size: small;
    }
}
